{
    "filepath": "**/src/*.{ts,tsx}",
    "printWidth": 100,
    "tabWidth": 2,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "trailingComma": "all",
    "overrides": [
      {
        "files": "*.tsx",
        "options": {
          "braceStyle": "expand",
          "singleQuote": true
        }
      }
    ]
  }
  